* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
}
:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(0, 18, 17);
}

.game-container {
  width: 65vh;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15vh auto;
  border-radius: 12px;
  background-color: rgb(0, 18, 17);
}
#canvas-displayer {
  width: 15vh;
  height: 60vh;
  margin: 0 2vh;
  background-color: rgb(0, 18, 17);
}
/*
.instructions {
  width: 14vh;
  height: 60vh;
  padding: 8px;
  background-color: bisque;
}*/
#canvas-screen {
  width: 40vh;
  height: 60vh;
  margin: 0 auto;
  
  background-color: var(--primary-color);

  box-shadow: 0px 0px 6px 6px inset rgba(12, 12, 12, 0.5);
}
