* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
.canvas-container {
  display: flex;
}
#canvas {
  box-sizing: border-box;
  margin: 200px auto;
  background-color: rgb(255, 255, 255);
  
}
